/embers_out/*
/outputs/*
/venv/*
/docs/_build/*
.python-version
*.DS_Store*
*._.DS_Store*
*__pycache__*
/embers/sat_utils/Leap_Second.dat
/embers/sat_utils/deltat.data
/embers/sat_utils/deltat.preds
embers.egg-info/

/paper_plots/paper_pdfs/*
