astropy==4.0.1.post1
certifi==2020.4.5.2
chardet==3.0.4
cycler==0.10.0
healpy==1.13.0
idna==2.9
jplephem==2.14
kiwisolver==1.2.0
Logbook==1.5.3
matplotlib==3.2.1
mwa-pb==1.1
numpy==1.18.5
pandas==1.0.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
ratelimiter==1.2.0.post0
Represent==1.6.0
requests==2.23.0
scipy==1.4.1
seaborn==0.10.1
sgp4==2.12
six==1.15.0
skyfield==1.22
spacetrack==0.13.6
wget==3.2
